/* global style variables */
$w:95vh;
$h:$w;

/* TODO: colors defined here */
$front-face-color:rgba(35,255,3,0.5);
$right-face-color:#ECFF5B;
$back-face-color:rgba(0,0,200,0.75);
$left-face-color:#E68DEC;
$top-face-color:#E8EC21;
$bottom-face-color:#81C9EC;

$hover-color: blue;
$link-color: black;

@mixin transition($options...) {
    -webkit-transition: $options;
    -moz-transition: $options;
    -ms-transition: $options;
    -o-transition: $options;
    transition: $options;}

@mixin transform($trans){
    -webkit-transform: $trans;
    -moz-transform: $trans;
    -ms-transform: $trans;
    transform: $trans;
}

@mixin flexbox(){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
}
/* flexbox specs */
@mixin direction($dir){
    -webkit-flex-direction:$dir;
    -ms-flex-direction:$dir;
    flex-direction:$dir;
}
@mixin justify($val){
    -webkit-justify-content:$val;
    -ms-flex-pack:$val;
    justify-content:$val;
}
@mixin align($val){
    -webkit-align-items:$val;
    -ms-flex-align:$val;
    align-items:$val;
}
@mixin order($val){
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}
@mixin shrink($val){
    -webkit-flex-shrink:$val;
    flex-shrink:$val;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.front {
    background-color:$front-face-color;
}
.right {
    background-color:$right-face-color;
}
.back {
    background-color:$back-face-color;
}
.left {
    background-color:$left-face-color;
}
.top {
    background-color:$top-face-color;
}
.bottom {
    background-color:$bottom-face-color;
}


@mixin faces($w){
    &.front {
        @include transform(translateZ($w/2));
    }
    &.right {
        @include transform(translateX($w/2) rotateY(90deg));
    }

    &.back {
        @include transform(translateZ(-$w/2) rotateY(180deg));
    }

    &.left {
        @include transform(translateX(-$w/2) rotateY(-90deg));
    }

    &.top {
        @include transform(translateY(-$w/2) rotateX(90deg));
    }

    &.bottom {
        @include transform(translateY($w/2) rotateX(-90deg));
    }
}