@import 'fn.scss';

html,body {
	margin:0;
	width:100%;
	height:100%;

    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
}

.rotate {
	position:fixed;
	top:3%;
	right:3%;
	width:35px;
	padding:25px;
}

nav {
	border:solid 2px #000;
	background-color:rgb(255,242,0);
	padding: 15px 25px;
	text-transform:uppercase;
	position:fixed;
	font-family:'arial';
	left:10%;
	top:2.5%;
	z-index:999;
}

$kw: 75px;
#keyMap {
	position:fixed;
	right:3%;
	bottom:3%;
	list-style-type:none;

	li {position:absolute;}

	li:nth-child(1) {
		@include transform(translateX(-$kw) translateY(-2px));
	}
	li:nth-child(2) {
		@include transform(translateX(-$kw/2) translateY(-$kw*0.4) rotateZ(90deg));
	}
	li:nth-child(3) {
		@include transform(rotateZ(180deg));
	}
	li:nth-child(4) {
		@include transform(translateX(-$kw/2-2px) translateY(-2px) rotateZ(-90deg));
	}
}


#container {
	position:fixed;
	left: 50%;
	top:50%;
	margin-left: -($w/2);
	margin-top: -($h/2);

  	#intermediary {
  		perspective: 3000px;
  		perspective-origin: 50% 50%;
  	}

	#cube {
		z-index:99;
		padding:0;
		list-style-type:none;
        margin:0;

		width:$w;
		height:$h;
		transform-style: preserve-3d;

		@include transition(transform .66s ease-in-out);
        @include transform(translateZ(-$w/2));

		&.right {
			@include transform(rotateY(-90deg));
		}
		&.left {
			@include transform(rotateY(90deg));
		}
		&.back {
			@include transform(rotateY(180deg));
		}
		&.top {
			@include transform(rotateX(-90deg));
		}
		&.bottom {
			@include transform(rotateX(90deg));
		}

		li {
			position:absolute;
			width:100%;
			height:100%;

			overflow:auto;
            filter: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><filter id="gaussian_blur"><feGaussianBlur in="SourceGraphic" stdDeviation="0" /></filter></defs></svg>#gaussian_blur');

			&.instagram {
				.photo {
					position:absolute;
					width:300px;

					h3 {
						font-size:12px;
                        margin-top:0;

						a:hover {
							color:black;
						}
					}
				}
			}

			&.youtube {
				@include flexbox();
				@include direction(column);
				@include align(center);
				@include justify(center);

				.video {
					width:70%;

					iframe {
						width:100%;
					}
				}
			}

			&.solution {
				@include flexbox();
				@include direction(column);
				@include align(center);
				@include justify(center);

				.solution-item {
					width:70%;

					img {
						width:100%;
					}

                    p {
                        text-align:center;
                    }
				}
			}

			/* geometry definitions */
			@include faces();
		}
	}
}