@import 'fn.scss';

html,body {
	margin:0;
	width:100%;
	height:100%;

    width:50000px;
    height:50000px;
    background-image:url(/img/dot.svg);
    background-size: 10px 10px;

    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#enlarge {
    @include transition(opacity .25s ease-in-out, transform .25s ease-in-out);

    position:fixed;
    top:5vh;
    left:50%;
    margin-left:-(90vh/2);
    width: 90vh;
    height: 90vh;
    border:solid 2px black;
    z-index:-1;
    background-color:#FFF;
    background-size:cover;
    background-repeat:no-repeat;
    opacity:0;

    &.open {
        opacity:1;

        .close {
            -webkit-animation:spin 10s linear 2.5sinfinite;
            -moz-animation:spin 10s linear 2.5s infinite;
            animation:spin 10s linear 2.5s infinite;
        }
    }

    .close {
        background-image:url('/img/close.svg');
        background-size:cover;
        position:absolute;
        right:-25px;
        top:-25px;
        width:25px;
        height:25px;
        z-index:101;
        cursor:pointer;
    }
}

.rotate {
	position:fixed;
	top:3%;
	right:3%;
	width:35px;
    height:35px;
	padding:25px;
    z-index:99;
    cursor:pointer;

    svg {
        width:35px;
        height:35px;
    }

    &:hover {
        path {
            fill:blue;
        }
    }
}

a {
    nav {
    	border:solid 2px #000;
    	background-color:rgb(255,242,0);
    	padding: 15px 25px;
    	text-transform:uppercase;
    	position:fixed;
    	font-family:'arial';
    	left:10%;
    	top:2.5%;
    	z-index:999;

        &:link {
            color:$link-color;
        }

        &:visited {
            color:$link-color;
        }

        &:hover {
            color:$hover-color;
            border-color:$hover-color;
        }
    }
}

$kw: 75px;
#keyMap {
	position:fixed;
	right:3%;
	bottom:3%;
	list-style-type:none;
    z-index:99;

	li {
        position:absolute;
        cursor:pointer;
        padding: 5px;
        background-color:#FFF;

        &:hover {
            color:$hover-color;
        }
    }

	li:nth-child(1) {
		@include transform(translateX(-$kw) translateY(-2px));
	}
	li:nth-child(2) {
		@include transform(translateX(-$kw/2) translateY(-$kw*0.4) rotateZ(90deg));
	}
	li:nth-child(3) {
		@include transform(rotateZ(180deg));
	}
	li:nth-child(4) {
		@include transform(translateX(-$kw/2-2px) translateY(-2px) rotateZ(-90deg));
	}
}


#container {
	position:fixed;
	left: 50%;
	top:50%;
	margin-left: -($w/2);
	margin-top: -($h/2);

  	#intermediary {
  		perspective: 3000px;
  		perspective-origin: 50% 50%;
  	}

	#cube {
		z-index:99;
		padding:0;
		list-style-type:none;
        margin:0;

		width:$w;
		height:$h;

        -webkit-transform-style: preserve-3d;
        -moz-transform-style:preserve-3d;

        &.smoothing {
            @include transition(transform .66s ease-in-out);
        }

        @include transform(translateZ(-$w/2));

		.face {
			position:absolute;
			width:100%;
			height:100%;

            /* ie specific code */
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                backface-visibility: hidden;

                &.smoothing {
                    @include transition(transform .66s ease-in-out);
                }
            }

			&.instagram {
				.photo {
					position:absolute;
					width:300px;
                    cursor:pointer;

                    img {
                        width:100%;
                    }

					h3 {
						font-size:12px;
                        margin-top:0;

                        a:link {
                            color:$link-color;
                        }

                        a:visited {
                            color:$link-color;
                        }

						a:hover {
							color:$hover-color;
						}
					}
				}
			}

			&.youtube {
				@include flexbox();
				@include direction(column);
				@include align(center);
				@include justify(center);

				.video {
					width:70%;

					iframe {
						width:100%;
					}
				}
			}

            &.links {
                @include flexbox();
                @include direction(column);
                @include justify(flex-end);

                input {
                    width:50%;
                    font-size:25px;
                    margin-left:100px;
                }

                #link-list {
                    margin: 0 0 250px 100px;

                    li {
                        list-style-type: none;
                        margin: 25px 0;
                        font-size:20px;

                        a:link {
                            color:$link-color;
                            text-decoration: underline;
                        }
                        a:visited {
                            color:$link-color;
                        }

                        a:hover {
                            color:$hover-color;
                        }
                    }
                }
            }

			&.solution {

                #solution-menu {
                    list-style-type:none;
                    padding:0;
                    margin: 75px 0 10px 75px;

                    li {
                        cursor:pointer;
                        font-size:25px;
                        color:gray;

                        &:hover {
                            color:$hover-color;
                        }

                        &.selected {
                            text-decoration:underline;
                        }
                    }
                }

				.solution-item {
                    @include transition(opacity .3s ease-in-out);

					width:90%;
                    position:absolute;
                    left:50%;
                    margin-left:-45%;
                    opacity:0;

                    &.selected {
                        opacity:1;
                    }

					img {
						width:100%;
					}

                    p {
                        text-align:center;
                    }
				}
			}

            .lock {
                position:absolute;
                right: 10px;
                top:10px;
                width:25px;
                cursor:pointer;
            }

			/* geometry definitions */
			@include faces();
		}
	}
}