/* flexbox specs */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  width: 50000px;
  height: 50000px;
  background-image: url(/img/dot.svg);
  background-size: 10px 10px; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

#enlarge {
  -webkit-transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  position: fixed;
  top: 5vh;
  left: 50%;
  margin-left: -45vh;
  width: 90vh;
  height: 90vh;
  border: solid 2px black;
  z-index: -1;
  background-color: #FFF;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0; }
  #enlarge.open {
    opacity: 1; }
    #enlarge.open .close {
      -webkit-animation: spin 10s linear 2.5sinfinite;
      -moz-animation: spin 10s linear 2.5s infinite;
      animation: spin 10s linear 2.5s infinite; }
  #enlarge .close {
    background-image: url("/img/close.svg");
    background-size: cover;
    position: absolute;
    right: -25px;
    top: -25px;
    width: 25px;
    height: 25px;
    z-index: 101;
    cursor: pointer; }

.rotate {
  position: fixed;
  top: 3%;
  right: 3%;
  width: 35px;
  height: 35px;
  padding: 25px;
  z-index: 99;
  cursor: pointer; }
  .rotate svg {
    width: 35px;
    height: 35px; }
  .rotate:hover path {
    fill: blue; }

a nav {
  border: solid 2px #000;
  background-color: #fff200;
  padding: 15px 25px;
  text-transform: uppercase;
  position: fixed;
  font-family: 'arial';
  left: 10%;
  top: 2.5%;
  z-index: 999; }
  a nav:link {
    color: black; }
  a nav:hover {
    color: blue;
    border-color: blue; }

#keyMap {
  position: fixed;
  right: 3%;
  bottom: 3%;
  list-style-type: none;
  z-index: 99; }
  #keyMap li {
    position: absolute;
    cursor: pointer;
    padding: 5px; }
    #keyMap li:hover {
      color: blue; }
  #keyMap li:nth-child(1) {
    -webkit-transform: translateX(-75px) translateY(-2px);
    -moz-transform: translateX(-75px) translateY(-2px);
    -ms-transform: translateX(-75px) translateY(-2px);
    transform: translateX(-75px) translateY(-2px); }
  #keyMap li:nth-child(2) {
    -webkit-transform: translateX(-37.5px) translateY(-30px) rotateZ(90deg);
    -moz-transform: translateX(-37.5px) translateY(-30px) rotateZ(90deg);
    -ms-transform: translateX(-37.5px) translateY(-30px) rotateZ(90deg);
    transform: translateX(-37.5px) translateY(-30px) rotateZ(90deg); }
  #keyMap li:nth-child(3) {
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg); }
  #keyMap li:nth-child(4) {
    -webkit-transform: translateX(-39.5px) translateY(-2px) rotateZ(-90deg);
    -moz-transform: translateX(-39.5px) translateY(-2px) rotateZ(-90deg);
    -ms-transform: translateX(-39.5px) translateY(-2px) rotateZ(-90deg);
    transform: translateX(-39.5px) translateY(-2px) rotateZ(-90deg); }

#container {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -50vh;
  margin-top: -50vh; }
  #container #intermediary {
    perspective: 3000px;
    perspective-origin: 50% 50%; }
  #container #cube {
    z-index: 99;
    padding: 0;
    list-style-type: none;
    margin: 0;
    width: 100vh;
    height: 100vh;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-50vh);
    -moz-transform: translateZ(-50vh);
    -ms-transform: translateZ(-50vh);
    transform: translateZ(-50vh); }
    #container #cube.smoothing {
      -webkit-transition: transform 0.66s ease-in-out;
      -moz-transition: transform 0.66s ease-in-out;
      -ms-transition: transform 0.66s ease-in-out;
      -o-transition: transform 0.66s ease-in-out;
      transition: transform 0.66s ease-in-out; }
    #container #cube.right {
      -webkit-transform: translateZ(-50vh) rotateY(-90deg);
      -moz-transform: translateZ(-50vh) rotateY(-90deg);
      -ms-transform: translateZ(-50vh) rotateY(-90deg);
      transform: translateZ(-50vh) rotateY(-90deg); }
    #container #cube.left {
      -webkit-transform: translateZ(-50vh) rotateY(90deg);
      -moz-transform: translateZ(-50vh) rotateY(90deg);
      -ms-transform: translateZ(-50vh) rotateY(90deg);
      transform: translateZ(-50vh) rotateY(90deg); }
    #container #cube.back {
      -webkit-transform: translateZ(-50vh) rotateY(180deg);
      -moz-transform: translateZ(-50vh) rotateY(180deg);
      -ms-transform: translateZ(-50vh) rotateY(180deg);
      transform: translateZ(-50vh) rotateY(180deg); }
    #container #cube.top {
      -webkit-transform: translateZ(-50vh) rotateX(-90deg);
      -moz-transform: translateZ(-50vh) rotateX(-90deg);
      -ms-transform: translateZ(-50vh) rotateX(-90deg);
      transform: translateZ(-50vh) rotateX(-90deg); }
    #container #cube.bottom {
      -webkit-transform: translateZ(-50vh) rotateX(90deg);
      -moz-transform: translateZ(-50vh) rotateX(90deg);
      -ms-transform: translateZ(-50vh) rotateX(90deg);
      transform: translateZ(-50vh) rotateX(90deg); }
    #container #cube .face {
      position: absolute;
      width: 100%;
      height: 100%;
      /* geometry definitions */ }
      #container #cube .face.instagram .photo {
        position: absolute;
        width: 300px;
        cursor: pointer; }
        #container #cube .face.instagram .photo h3 {
          font-size: 12px;
          margin-top: 0; }
          #container #cube .face.instagram .photo h3 a:hover {
            color: black; }
      #container #cube .face.youtube {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }
        #container #cube .face.youtube .video {
          width: 70%; }
          #container #cube .face.youtube .video iframe {
            width: 100%; }
      #container #cube .face.solution {
        /*
				@include flexbox();
				@include direction(column);
				@include align(center);
				@include justify(center);
                */ }
        #container #cube .face.solution #solution-menu {
          list-style-type: none;
          padding: 0;
          margin: 75px 0 10px 75px; }
          #container #cube .face.solution #solution-menu li {
            cursor: pointer;
            font-size: 25px;
            color: gray; }
            #container #cube .face.solution #solution-menu li:hover {
              color: blue; }
            #container #cube .face.solution #solution-menu li.selected {
              text-decoration: underline; }
        #container #cube .face.solution .solution-item {
          -webkit-transition: opacity 0.3s ease-in-out;
          -moz-transition: opacity 0.3s ease-in-out;
          -ms-transition: opacity 0.3s ease-in-out;
          -o-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out;
          width: 90%;
          position: absolute;
          left: 50%;
          margin-left: -45%;
          opacity: 0; }
          #container #cube .face.solution .solution-item.selected {
            opacity: 1; }
          #container #cube .face.solution .solution-item img {
            width: 100%; }
          #container #cube .face.solution .solution-item p {
            text-align: center; }
      #container #cube .face .lock {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 25px;
        cursor: pointer; }
      #container #cube .face.front {
        background-color: #23ff03;
        opacity: 0.85;
        -webkit-transform: translateZ(50vh);
        -moz-transform: translateZ(50vh);
        -ms-transform: translateZ(50vh);
        transform: translateZ(50vh); }
      #container #cube .face.right {
        background-color: #ECFF5B;
        opacity: 1;
        -webkit-transform: translateX(50vh) rotateY(90deg);
        -moz-transform: translateX(50vh) rotateY(90deg);
        -ms-transform: translateX(50vh) rotateY(90deg);
        transform: translateX(50vh) rotateY(90deg); }
      #container #cube .face.back {
        background-color: rgba(0, 0, 200, 0.75);
        -webkit-transform: translateZ(-50vh) rotateY(180deg);
        -moz-transform: translateZ(-50vh) rotateY(180deg);
        -ms-transform: translateZ(-50vh) rotateY(180deg);
        transform: translateZ(-50vh) rotateY(180deg); }
      #container #cube .face.left {
        background-color: #E68DEC;
        opacity: 0.95;
        -webkit-transform: translateX(-50vh) rotateY(-90deg);
        -moz-transform: translateX(-50vh) rotateY(-90deg);
        -ms-transform: translateX(-50vh) rotateY(-90deg);
        transform: translateX(-50vh) rotateY(-90deg); }
      #container #cube .face.top {
        background-color: #E8EC21;
        -webkit-transform: translateY(-50vh) rotateX(90deg);
        -moz-transform: translateY(-50vh) rotateX(90deg);
        -ms-transform: translateY(-50vh) rotateX(90deg);
        transform: translateY(-50vh) rotateX(90deg); }
      #container #cube .face.bottom {
        background-color: #81C9EC;
        -webkit-transform: translateY(50vh) rotateX(-90deg);
        -moz-transform: translateY(50vh) rotateX(-90deg);
        -ms-transform: translateY(50vh) rotateX(-90deg);
        transform: translateY(50vh) rotateX(-90deg); }
