/* global style variables */
/* TODO: colors defined here */
/* flexbox specs */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.front {
  background-color: rgba(35, 255, 3, 0.5); }

.right {
  background-color: #ECFF5B; }

.back {
  background-color: rgba(0, 0, 200, 0.75); }

.left {
  background-color: #E68DEC; }

.top {
  background-color: #E8EC21; }

.bottom {
  background-color: #81C9EC; }

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  width: 50000px;
  height: 50000px;
  background-image: url(/img/dot.svg);
  background-size: 10px 10px;
  font-family: Arial; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

#enlarge {
  -webkit-transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -306px;
  margin-top: -306px;
  width: 612px;
  height: 612px;
  border: solid 2px black;
  z-index: -1;
  background-color: #FFF;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0; }
  #enlarge #caption {
    position: absolute;
    top: 632px;
    border: solid 2px black;
    padding: 4px;
    background-color: #FFF; }
    #enlarge #caption a {
      text-decoration: none; }
    #enlarge #caption a:link {
      color: black; }
    #enlarge #caption a:visited {
      color: black; }
    #enlarge #caption a:hover {
      color: blue; }
  #enlarge.open {
    opacity: 1; }
    #enlarge.open .close {
      -webkit-animation: spin 10s linear 2.5sinfinite;
      -moz-animation: spin 10s linear 2.5s infinite;
      animation: spin 10s linear 2.5s infinite; }
  #enlarge .close {
    background-image: url("/img/close.svg");
    background-size: cover;
    position: absolute;
    right: -25px;
    top: -25px;
    width: 25px;
    height: 25px;
    z-index: 101;
    cursor: pointer; }

#logo {
  position: fixed;
  left: 5px;
  bottom: 5px;
  width: 15vw; }

nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  left: 25px;
  top: 35px;
  position: fixed;
  z-index: 999; }
  nav hr {
    margin: 5px 0 10px 0;
    border-color: blue; }
  nav a {
    border: solid 2px #000;
    padding: 15px 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'arial';
    margin-bottom: 5px;
    text-align: center;
    max-width: 100px; }
    nav a.yellow {
      background-color: #fff200; }
    nav a:link {
      color: black; }
    nav a:visited {
      color: black; }
    nav a:hover {
      color: blue;
      border-color: blue; }

#note {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  right: 1%;
  bottom: 10%;
  padding: 10px;
  text-align: center;
  background-color: #FFF;
  width: 100px;
  border: dashed blue;
  border-spacing: 5px;
  opacity: 0.8; }
  #note.hidden {
    opacity: 0; }

#keyMap {
  position: fixed;
  right: 3%;
  bottom: 3%;
  list-style-type: none;
  z-index: 99; }
  #keyMap li {
    position: absolute;
    cursor: pointer;
    padding: 5px;
    background-color: #FFF; }
    #keyMap li:hover {
      color: blue; }
  #keyMap li:nth-child(1) {
    -webkit-transform: translateX(-75px) translateY(-2px);
    -moz-transform: translateX(-75px) translateY(-2px);
    -ms-transform: translateX(-75px) translateY(-2px);
    transform: translateX(-75px) translateY(-2px); }
  #keyMap li:nth-child(2) {
    -webkit-transform: translateX(-37.5px) translateY(-30px) rotateZ(90deg);
    -moz-transform: translateX(-37.5px) translateY(-30px) rotateZ(90deg);
    -ms-transform: translateX(-37.5px) translateY(-30px) rotateZ(90deg);
    transform: translateX(-37.5px) translateY(-30px) rotateZ(90deg); }
  #keyMap li:nth-child(3) {
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg); }
  #keyMap li:nth-child(4) {
    -webkit-transform: translateX(-36.5px) translateY(-2px) rotateZ(-90deg);
    -moz-transform: translateX(-36.5px) translateY(-2px) rotateZ(-90deg);
    -ms-transform: translateX(-36.5px) translateY(-2px) rotateZ(-90deg);
    transform: translateX(-36.5px) translateY(-2px) rotateZ(-90deg); }

#container {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -47.5vh;
  margin-top: -47.5vh; }
  #container #intermediary {
    perspective: 3000px;
    perspective-origin: 50% 50%; }
  #container #cube {
    -webkit-transition: opacity 0.35s ease-in-out;
    -moz-transition: opacity 0.35s ease-in-out;
    -ms-transition: opacity 0.35s ease-in-out;
    -o-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
    z-index: 99;
    padding: 0;
    list-style-type: none;
    margin: 0;
    opacity: 1;
    width: 95vh;
    height: 95vh;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform: translateZ(-47.5vh);
    -moz-transform: translateZ(-47.5vh);
    -ms-transform: translateZ(-47.5vh);
    transform: translateZ(-47.5vh); }
    #container #cube.ready {
      opacity: 1; }
    #container #cube.smoothing {
      -webkit-transition: transform 0.66s ease-in-out;
      -moz-transition: transform 0.66s ease-in-out;
      -ms-transition: transform 0.66s ease-in-out;
      -o-transition: transform 0.66s ease-in-out;
      transition: transform 0.66s ease-in-out; }
    #container #cube .face {
      position: absolute;
      width: 100%;
      height: 100%;
      /* ie specific code */
      /* geometry definitions */ }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        #container #cube .face {
          backface-visibility: hidden; }
          #container #cube .face.smoothing {
            -webkit-transition: transform 0.66s ease-in-out;
            -moz-transition: transform 0.66s ease-in-out;
            -ms-transition: transform 0.66s ease-in-out;
            -o-transition: transform 0.66s ease-in-out;
            transition: transform 0.66s ease-in-out; } }
      #container #cube .face.photos {
        /* 3x4 grid */
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: container;
        -ms-flex-direction: container;
        flex-direction: container;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #container #cube .face.photos .photo {
          width: 21.66667%;
          cursor: pointer;
          float: left;
          margin: 1.09375% 0 1.09375% 8.75%; }
          #container #cube .face.photos .photo img {
            width: 100%; }
      #container #cube .face.instagram {
        /* 3x3 grid */
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: container;
        -ms-flex-direction: container;
        flex-direction: container;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        #container #cube .face.instagram .photo {
          width: 25%;
          cursor: pointer;
          float: left;
          margin-left: 6.25%; }
          #container #cube .face.instagram .photo img {
            width: 100%; }
          #container #cube .face.instagram .photo h3 {
            font-size: 12px;
            margin-top: 0; }
            #container #cube .face.instagram .photo h3 a {
              text-decoration: none; }
            #container #cube .face.instagram .photo h3 a:link {
              color: black; }
            #container #cube .face.instagram .photo h3 a:visited {
              color: black; }
            #container #cube .face.instagram .photo h3 a:hover {
              color: blue; }
      #container #cube .face.youtube {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }
        #container #cube .face.youtube .video {
          width: 70%; }
          #container #cube .face.youtube .video iframe {
            width: 100%; }
      #container #cube .face.solution .solution-item {
        cursor: e-resize;
        width: 95%;
        height: 95%;
        margin-top: 2.5%;
        margin-left: 2.5%; }
        #container #cube .face.solution .solution-item .solution-slideshow {
          padding: 0;
          position: relative;
          width: 100%;
          height: 100%; }
          #container #cube .face.solution .solution-item .solution-slideshow li {
            -webkit-transition: opacity 0.3s ease-in-out;
            -moz-transition: opacity 0.3s ease-in-out;
            -ms-transition: opacity 0.3s ease-in-out;
            -o-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
            position: absolute;
            list-style-type: none;
            width: 100%;
            height: 100%;
            background-size: cover;
            opacity: 0; }
            #container #cube .face.solution .solution-item .solution-slideshow li.active {
              opacity: 1; }
      #container #cube .face .lock {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 25px;
        cursor: pointer;
        z-index: 100; }
      #container #cube .face.front {
        -webkit-transform: translateZ(47.5vh);
        -moz-transform: translateZ(47.5vh);
        -ms-transform: translateZ(47.5vh);
        transform: translateZ(47.5vh); }
      #container #cube .face.right {
        -webkit-transform: translateX(47.5vh) rotateY(90deg);
        -moz-transform: translateX(47.5vh) rotateY(90deg);
        -ms-transform: translateX(47.5vh) rotateY(90deg);
        transform: translateX(47.5vh) rotateY(90deg); }
      #container #cube .face.back {
        -webkit-transform: translateZ(-47.5vh) rotateY(180deg);
        -moz-transform: translateZ(-47.5vh) rotateY(180deg);
        -ms-transform: translateZ(-47.5vh) rotateY(180deg);
        transform: translateZ(-47.5vh) rotateY(180deg); }
      #container #cube .face.left {
        -webkit-transform: translateX(-47.5vh) rotateY(-90deg);
        -moz-transform: translateX(-47.5vh) rotateY(-90deg);
        -ms-transform: translateX(-47.5vh) rotateY(-90deg);
        transform: translateX(-47.5vh) rotateY(-90deg); }
      #container #cube .face.top {
        -webkit-transform: translateY(-47.5vh) rotateX(90deg);
        -moz-transform: translateY(-47.5vh) rotateX(90deg);
        -ms-transform: translateY(-47.5vh) rotateX(90deg);
        transform: translateY(-47.5vh) rotateX(90deg); }
      #container #cube .face.bottom {
        -webkit-transform: translateY(47.5vh) rotateX(-90deg);
        -moz-transform: translateY(47.5vh) rotateX(-90deg);
        -ms-transform: translateY(47.5vh) rotateX(-90deg);
        transform: translateY(47.5vh) rotateX(-90deg); }

@media screen and (max-width: 480px) {
  nav {
    display: block;
    left: 5vw;
    top: 10px;
    width: 95vw; }
    nav hr {
      height: 30px;
      width: 0px;
      float: left;
      margin-left: 10px; }
    nav a {
      font-size: 12px;
      padding: 10px 15px;
      margin-left: 10px;
      margin-bottom: 10px;
      max-width: 100%;
      float: left; }
  #enlarge {
    left: 50vw;
    top: 65vh;
    width: 306px;
    height: 306px;
    margin-left: -153px;
    margin-top: -153px; }
    #enlarge .close {
      width: 50px;
      height: 50px;
      right: -15px;
      top: -50px; }
    #enlarge #caption {
      font-size: 12px;
      top: 316px; }
  #keyMap {
    right: 10%;
    bottom: 5%; }
    #keyMap li {
      padding: 15px;
      font-size: 50px; }
    #keyMap li:nth-child(1) {
      -webkit-transform: translateX(-175px) translateY(-2px);
      -moz-transform: translateX(-175px) translateY(-2px);
      -ms-transform: translateX(-175px) translateY(-2px);
      transform: translateX(-175px) translateY(-2px); }
    #keyMap li:nth-child(2) {
      -webkit-transform: translateX(-87.5px) translateY(-70px) rotateZ(90deg);
      -moz-transform: translateX(-87.5px) translateY(-70px) rotateZ(90deg);
      -ms-transform: translateX(-87.5px) translateY(-70px) rotateZ(90deg);
      transform: translateX(-87.5px) translateY(-70px) rotateZ(90deg); }
    #keyMap li:nth-child(3) {
      -webkit-transform: rotateZ(180deg);
      -moz-transform: rotateZ(180deg);
      -ms-transform: rotateZ(180deg);
      transform: rotateZ(180deg); }
    #keyMap li:nth-child(4) {
      -webkit-transform: translateX(-86.5px) translateY(-2px) rotateZ(-90deg);
      -moz-transform: translateX(-86.5px) translateY(-2px) rotateZ(-90deg);
      -ms-transform: translateX(-86.5px) translateY(-2px) rotateZ(-90deg);
      transform: translateX(-86.5px) translateY(-2px) rotateZ(-90deg); }
  #container {
    left: 50vw;
    top: 65vh;
    margin-left: -45vw;
    margin-top: -45vw; }
    #container #cube {
      width: 90vw;
      height: 90vw; }
      #container #cube .face {
        /* geometry definitions */ }
        #container #cube .face.front {
          -webkit-transform: translateZ(45vw);
          -moz-transform: translateZ(45vw);
          -ms-transform: translateZ(45vw);
          transform: translateZ(45vw); }
        #container #cube .face.right {
          -webkit-transform: translateX(45vw) rotateY(90deg);
          -moz-transform: translateX(45vw) rotateY(90deg);
          -ms-transform: translateX(45vw) rotateY(90deg);
          transform: translateX(45vw) rotateY(90deg); }
        #container #cube .face.back {
          -webkit-transform: translateZ(-45vw) rotateY(180deg);
          -moz-transform: translateZ(-45vw) rotateY(180deg);
          -ms-transform: translateZ(-45vw) rotateY(180deg);
          transform: translateZ(-45vw) rotateY(180deg); }
        #container #cube .face.left {
          -webkit-transform: translateX(-45vw) rotateY(-90deg);
          -moz-transform: translateX(-45vw) rotateY(-90deg);
          -ms-transform: translateX(-45vw) rotateY(-90deg);
          transform: translateX(-45vw) rotateY(-90deg); }
        #container #cube .face.top {
          -webkit-transform: translateY(-45vw) rotateX(90deg);
          -moz-transform: translateY(-45vw) rotateX(90deg);
          -ms-transform: translateY(-45vw) rotateX(90deg);
          transform: translateY(-45vw) rotateX(90deg); }
        #container #cube .face.bottom {
          -webkit-transform: translateY(45vw) rotateX(-90deg);
          -moz-transform: translateY(45vw) rotateX(-90deg);
          -ms-transform: translateY(45vw) rotateX(-90deg);
          transform: translateY(45vw) rotateX(-90deg); }
        #container #cube .face.instagram .photo {
          margin-top: 5px; }
          #container #cube .face.instagram .photo h3 {
            display: none; }
        #container #cube .face .lock {
          position: absolute;
          right: 3px;
          top: 3px;
          width: 35px;
          cursor: pointer;
          z-index: 100; } }

@media screen and (max-width: 320px) {
  nav hr {
    height: 15px; }
  nav a {
    font-size: 10px;
    padding: 7px 12px; } }
